argon2-cffi==20.1.0
attrs==20.2.0
backcall==0.2.0
bleach==3.1.5
cffi==1.14.2
Click==7.0
colorama==0.4.3
DAWG-Python==0.7.2
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
docxtpl==0.6.3
entrypoints==0.3
face-recognition-models==0.3.0
imutils==0.5.3
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
lxml==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.4K
numpy==1.18.1
opencv-python==4.2.0.32
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==7.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
pycparser==2.20
Pygments==2.6.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
pyparsing==2.4.7
PyQt5==5.14.0
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.14.0.1.7.3
PyQtWebEngine==5.15.1
pyrsistent==0.17.1
python-dateutil==2.8.1
python-docx==0.8.7
python-dotenv==0.14.0
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.2
Send2Trash==1.5.0
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.4
wcwidth==0.2.5
webencodings==0.5.1
XlsxWriter==1.2.8
